.table {
    border-collapse: collapse;
    border: none;
    width: 100%;
  }
  
  .tableRowHeader {
    transition: all 0.25s ease;
    border-radius: 10px;
  }
  
  .tableHeader {
    padding: 5px;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
  }
  
  .tableHeader:first-child {
    border-top-left-radius: 15px;
  }
  
  .tableHeader:last-child {
    border-top-right-radius: 15px;
  }
  
  .tableRowItems {
    cursor: auto;
  }
  
  /* .tableRowItems:nth-child(odd) {
    background-color: #f9f9f9;
  }
  */
  .tableCell {
    padding: 10px;
    /* height: -50px; */
    font-size: 14px;
  justify-content: center;
  } 
  
  .winButton {
    border-radius: 50%;
    background-color: #32cd32;
    color: white;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 4px;
    cursor: pointer;
  }
  .lossButton {
    border-radius: 50%;
    background-color: #ce2029;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .drawButton {
    border-radius: 50%;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  